# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

In this notebook, Data Science Tools and Ecosystem are summarized.
such as
- Data Science Languages
- Data Science Tools
- Data Science Libraries
- Evaluating Expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala
5. JavaScript
6. SQL
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Scikit-learn
4. NumPy

|Data Science Tools| 
| ------ | 
| Apache Spark | 
|TensorFlow | 
| Jupyter Notebook| 
| SAS |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
##  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
## This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author 
Tasneem Saeed